VARecruitmentWebAPI/obj/
VARecruitmentWebAPI/bin/
VAArtGalleryWebAPITest/obj/
.vs/
VAArtGalleryWebAPITest/bin/
/VAArtGalleryWebApp/obj/Debug/VAArtGalleryWebApp.esproj.CoreCompileInputs.cache
/VAArtGalleryWebApp/obj/Debug/VAArtGalleryWebApp.esproj.FileListAbsolute.txt
